nav {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background: white;
}

.logo {
  font-size: 24px;
}

.logo a {
  text-decoration: none;
  color: black;
}

.logo a:hover {
  color: #4f46e5;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav ul li {
  cursor: pointer;
  font-weight: 500;
}

nav ul li a {
  text-decoration: none;
}

.menu-icon {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* ================= MOBILE MENU ================= */

@media (max-width: 768px) {
  .logo {
    font-size: 30px;
  }

  .menu-icon {
    display: block;
    z-index: 1100;
  }

  .menu {
    position: fixed;
    display: flex;
    top: -100%; /* hidden top */
    left: 0;
    width: 100%;
    height: 100vh; /* fullscreen */
    background: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    font-size: 24px;
    transition: 0.5s ease;
  }

  .menu.active {
    top: 0;
  }
}

.menu li.active a {
  color: #007bff;
  font-weight: 700;
}

@media (max-width: 1024px) {
  .logo {
    font-size: 24px;
  }
}
