.pricing {
  padding: 100px 10%;
  background: #f9fafb;
  text-align: center;
}

.pricing-title {
  font-size: 35px;
  margin-bottom: 60px;
}

/* Container */

.pricing-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

/* Card */

.pricing-card {
  background: white;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  position: relative;
  transition: 0.3s ease;
}

/* Hover Effect */

.pricing-card:hover {
  transform: translateY(-10px);
}

/* Popular Plan Highlight */

.popular {
  border: 2px solid #4f46e5;
  transform: scale(1.05);
}

/* Badge */

.badge {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background: #4f46e5;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 20px;*/
}

/* Price */

.pricing-card h1 {
  font-size: 40px;
  margin: 20px 0;
  color: #4f46e5;
}

/* Features */

.pricing-card ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pricing-card li {
  margin: 12px 0;
}

/* Button */

.pricing-card button {
  background: #4f46e5;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 6px;
  cursor: pointer;
}

/* Responsive */

@media (max-width: 1024px) {
  .pricing-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .pricing-container {
    grid-template-columns: 1fr;
  }
}
